# -----------------------------------
# Binarios y compilados de Go
# -----------------------------------
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/
/build/
/dist/

# -----------------------------------
# Dependencias externas (Go modules)
# -----------------------------------
/vendor/

# -----------------------------------
# Archivos de configuración locales / secretos
# -----------------------------------
.env
config/*.yaml

# -----------------------------------
# IDEs y editores
# -----------------------------------
.vscode/
.idea/
*.iml

# -----------------------------------
# Logs
# -----------------------------------
*.log

# -----------------------------------
# Archivos del sistema operativo
# -----------------------------------
.DS_Store